.idea/
.env
/.project
/.pydevproject
/.settings/
*~
/.hg/
public/
*.sqlite*
__pycache__/
/.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
celerybeat-schedule
.DS_Store
*.sql
org.kde.konsole.desktop
src/org.kde.konsole.desktop
src/.vscode
env/
venv/
dbdata
/static/
