Django~=1.11.5
django-debug-toolbar~=1.8
djangorestframework==3.6.*
django-crispy-forms==1.6.*
django-filter==1.0.4
django-dotenv==1.4.1

pytz
python-dateutil==2.6.*
pillow==4.2.1

psycopg2==2.7.3.1
gunicorn==19.7.*
fabric3==1.13.1.post1

PyJWT==1.5.3
djangorestframework-jwt==1.11.0